#contact {
    margin-top: 8rem;
}

.container {
    width: var(--container-width-lg);
    margin: 0px auto;
}

.container.contact__container {
    display: grid;
    grid-template-columns: 30% 58%;
    width: 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    text-align: center;
    background: var(--color-bg-variant);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 1.2rem;
    padding: 1.2rem;
    transition: var(--transition);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    color: var(--color-white);
    resize: none;
    width: 100%;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    border-radius: 0.5rem;
    padding: 1.2rem;
}

.btn-primary {
    padding: 0.75rem 2rem;
    color: var(--color-white);
    cursor: pointer;
    background: var(--color-primary);
    border-radius: 0.5rem;
    transition: var(--transition);
    font-size: 0.9rem;
}


@media screen and (max-width: 1024px){
    #contact {
        margin-top: 6rem;
    }
    .container {
        width: var(--container-width-md);
    }
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}